.success-message {
    background-color: #1A2529;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    min-height: 85vh;
  }
  
  .checkmark {
    font-size: 3rem;
    color: green;
    margin-bottom: 1rem;
  }
  
  .home-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .home-button:hover {
    background-color: darkorange;
  }
  