# Maven build output
target/

# Maven wrapper files
.mvn/
.mvn/wrapper/

# IDEs and editors
.idea/
*.iml
*.iws
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env

# Other
*.class
*.jar
*.war
*.ear
*.db
*.sql
*.sqlite
*.h2
*.p7b
*.p12
*.pfx
*.pem
*.key
*.csr
