/**
 * Author : Nikita Davies
 */


input[type="date"]:focus,
input[type="time"]:focus {
  border-color: #FF9A00; 
  box-shadow: 0 0 5px #FF9A00; 
}

.btn-primary {
  background-color: #FF9A00; 
  border-color: #FF9A00;
  color: #fff; 
}

.btn-outline-secondary {
  border-color: #FF9A00; 
  color: #FF9A00; 
}

.btn-outline-secondary:hover {
  background-color: #FF9A00; 
  color: #fff; 
}

  
  