.add-review-container{
    display: flex;
    flex-direction: column;
}

.add-review-star{
    margin: 3% 0;
    display: flex;
}

.add-review-buttons{
    display: flex;
    justify-content: space-between;
}

.add-review-buttons button{
    background-color: #FF9A00;;
    color: white;
    height: 40px; 
    width: 140px;
    border-radius: 8px;
    font-weight: 600;
    border: none;
    margin: 10px;
}