/**
 * Author : Kabilesh Ravi Chandran
 */

.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  box-sizing: border-box;
  padding: 0 10px;

  @media (min-width: 769px) {
    min-width: calc(100% / 3);
  }

  @media (max-width: 768px) {
    min-width: calc(100% / 2);
  }

  @media (max-width: 480px) {
    min-width: 100%;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
